interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?limit=10&query=release%3A%28garage+inc.%29+artist%3A%28metallica%29
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><metadata
        created=\"2016-12-14T13:39:00.011Z\" xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"
        xmlns:ext=\"http://musicbrainz.org/ns/ext#-2.0\"><release-list count=\"1591\"
        offset=\"0\"><release id=\"7f5a52aa-4429-4771-80ec-6c6a545b0df9\" ext:score=\"100\"><title>Garage
        Inc.</title><status>Official</status><text-representation><language>eng</language><script>Latn</script></text-representation><artist-credit><name-credit><artist
        id=\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\"><name>Metallica</name><sort-name>Metallica</sort-name><alias-list><alias
        sort-name=\"\u30E1\u30BF\u30EA\u30AB\">\u30E1\u30BF\u30EA\u30AB</alias><alias
        locale=\"ko_KR\" sort-name=\"\uBA54\uD0C8\uB9AC\uCE74\" primary=\"primary\">\uBA54\uD0C8\uB9AC\uCE74</alias><alias
        sort-name=\"Metalica\">Metalica</alias><alias locale=\"en\" sort-name=\"Metallica\"
        type=\"Artist name\" primary=\"primary\">Metallica</alias></alias-list></artist></name-credit></artist-credit><release-group
        id=\"e683880a-b1d7-3599-9f70-680ac56d8667\" type=\"Album\"><primary-type>Album</primary-type></release-group><date>1998-11-24</date><country>US</country><release-event-list><release-event><date>1998-11-24</date><area
        id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United States</name><sort-name>United
        States</sort-name><iso-3166-1-code-list><iso-3166-1-code>US</iso-3166-1-code></iso-3166-1-code-list></area></release-event></release-event-list><barcode>075596229920</barcode><asin>B00000FCBC</asin><label-info-list><label-info><catalog-number>62299-2</catalog-number><label
        id=\"873f9f75-af68-4872-98e2-431058e4c9a9\"><name>Elektra</name></label></label-info></label-info-list><medium-list
        count=\"2\"><track-count>27</track-count><medium><format>CD</format><disc-list
        count=\"13\"/><track-list count=\"11\"/></medium><medium><format>CD</format><disc-list
        count=\"18\"/><track-list count=\"16\"/></medium></medium-list><tag-list><tag
        count=\"2\"><name>rock</name></tag><tag count=\"2\"><name>heavy metal</name></tag><tag
        count=\"2\"><name>thrash metal</name></tag><tag count=\"1\"><name>metal</name></tag><tag
        count=\"2\"><name>hard rock</name></tag></tag-list></release><release id=\"df2180ab-16a1-4b94-8b25-8659bafb6c7a\"
        ext:score=\"100\"><title>Garage Inc.</title><status>Official</status><text-representation><language>eng</language><script>Latn</script></text-representation><artist-credit><name-credit><artist
        id=\"65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab\"><name>Metallica</name><sort-name>Metallica</sort-name><alias-list><alias
        sort-name=\"\u30E1\u30BF\u30EA\u30AB\">\u30E1\u30BF\u30EA\u30AB</alias><alias
        locale=\"ko_KR\" sort-name=\"\uBA54\uD0C8\uB9AC\uCE74\" primary=\"primary\">\uBA54\uD0C8\uB9[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/7f5a52aa-4429-4771-80ec-6c6a545b0df9?inc=recordings
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?><metadata xmlns="http://musicbrainz.org/ns/mmd-2.0#"><release
        id="7f5a52aa-4429-4771-80ec-6c6a545b0df9"><title>Garage Inc.</title><status
        id="4e304316-386d-3409-af2e-78857eec5cfe">Official</status><quality>normal</quality><text-representation><language>eng</language><script>Latn</script></text-representation><date>1998-11-24</date><country>US</country><release-event-list
        count="1"><release-event><date>1998-11-24</date><area id="489ce91b-6658-3307-9877-795b68554c98"><name>United
        States</name><sort-name>United States</sort-name><iso-3166-1-code-list><iso-3166-1-code>US</iso-3166-1-code></iso-3166-1-code-list></area></release-event></release-event-list><barcode>075596229920</barcode><asin>B00000FCBC</asin><cover-art-archive><artwork>true</artwork><count>2</count><front>true</front><back>false</back></cover-art-archive><medium-list
        count="2"><medium><title>New Recordings ''98</title><position>1</position><format
        id="9712d52a-4509-3d4b-a1a2-67c88c643e31">CD</format><track-list offset="0"
        count="11"><track id="20fc3adc-5e94-3494-975d-549543256552"><position>1</position><number>1</number><length>155533</length><recording
        id="7ea58751-5279-4a69-878b-27dbf84d841d"><title>Free Speech for the Dumb</title><length>155533</length></recording></track><track
        id="e11a65b5-c2fa-3719-8504-45054795b8df"><position>2</position><number>2</number><length>213933</length><recording
        id="2f8b7941-1d38-4791-9590-c861b5553d6f"><title>It''s Electric</title><length>213933</length></recording></track><track
        id="8439adbd-75ce-348e-995c-5020d8f32229"><position>3</position><number>3<[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?limit=10&query=release%3A%28good+kid%2C+m.a.a.d+city%29+artist%3A%28kendrick+lamar%29
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><metadata created="2016-12-14T13:39:00.011Z"
        xmlns="http://musicbrainz.org/ns/mmd-2.0#" xmlns:ext="http://musicbrainz.org/ns/ext#-2.0"><release-list
        count="10916" offset="0"><release id="0726c5f4-da29-4a78-a8ab-b08e632fe3b9"
        ext:score="100"><title>good kid, m.A.A.d city</title><status>Official</status><disambiguation>iTunes
        Deluxe Edition</disambiguation><packaging>None</packaging><text-representation><language>eng</language><script>Latn</script></text-representation><artist-credit><name-credit><artist
        id="381086ea-f511-4aba-bdf9-71c753dc5077"><name>Kendrick Lamar</name><sort-name>Lamar,
        Kendrick</sort-name><alias-list><alias sort-name="K. Dot" type="Search hint">K.
        Dot</alias><alias sort-name="Kendrick Duckworth" type="Search hint">Kendrick
        Duckworth</alias><alias sort-name="Duckworth, Kendrick Lamar" type="Legal
        na[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?limit=10&query=release%3A%28vnielwslcns%29+artist%3A%28sfaluijhfsdkjlhfs%29
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><metadata created="2016-12-14T13:39:00.011Z"
        xmlns="http://musicbrainz.org/ns/mmd-2.0#" xmlns:ext="http://musicbrainz.org/ns/ext#-2.0"><release-list
        count="0" offset="0"/></metadata>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      Last-Modified:
      - Wed, 14 Dec 2016 13:39:00 GMT
      X-RateLimit-Limit:
      - '700'
      X-RateLimit-Remaining:
      - '360'
      X-RateLimit-Reset:
      - '1481724579'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?limit=10&query=artist%3A%28metallica%29+release%3A%28garage+inc.%29
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><metadata
        created=\"2016-12-15T06:19:03.700Z\" xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"
        xmlns:ext=\"http://musicbrainz.org/ns/ext#-2.0\"><release-list count=\"1591\"
        offset=\"0\"><release id=\"7f5a52aa-442[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?limit=10&query=artist%3A%28kendrick+lamar%29+release%3A%28good+kid%2C+m.a.a.d+city%29
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><metadata created="2016-12-15T06:19:03.700Z"
        xmlns="http://musicbrainz.org/ns/mmd-2.0#" xmlns:ext="http://musicbrainz.org/ns/ext#-2.0"><release-list
        count="10922" offset="0"><release id="0726c5f4-da29-4a78-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?limit=10&query=artist%3A%28sfaluijhfsdkjlhfs%29+release%3A%28vnielwslcns%29
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><metadata created="2016-12-15T06:19:03.700Z"
        xmlns="http://musicbrainz.org/ns/mmd-2.0#" xmlns:ext="http://musicbrainz.org/ns/ext#-2.0"><release-list
        count="0" offset="0"/></metadata>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      Last-Modified:
      - Thu, 15 Dec 2016 06:19:03 GMT
      X-RateLimit-Limit:
      - '700'
      X-RateLimit-Remaining:
      - '317'
      X-RateLimit-Reset:
      - '1481785576'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?limit=10&query=artist%3A%28kanye+west%29+release%3A%28the+college+dropout%29
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><metadata
        created=\"2019-07-15T18:51:51.121Z\" xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"
        xmlns:ns2=\"http://musicbrainz.org/ns/ext#-2.0\"><release-list count=\"347517\"
        offset=\"0\"><release id=\"99a96bf6-8166-3b7c-97ed-ea525f13ec65\" ns2:score=\"100\"><title>The
        College Dropout</title><status>Official</status><disambiguation>edited/clean
        version</disambiguation><text-representation><language>eng</language><script>Latn</script></text-representation><artist-credit><name-credit><name>Kanye
        West</name><artist id=\"164f0d73-1234-4e2c-8743-d77bf2191051\"><name>Kanye
        West</name><sort-name>West, Kanye</sort-name></artist></name-credit></artist-credit><release-group
        id=\"8a01217e-6947-3927-a39b-6691104694f1\" type=\"Album\" type-id=\"f529b476-6e62-324f-b0aa-1f3e33d313fc\"><title>The
        College Dropout</title><primary-type id=\"f529b476-6e62-324f-b0aa-1f3e33d313fc\">Album</primary-type></release-group><date>2004-02-10</date><country>US</country><release-event-list><release-event><date>[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/b0f5a6ab-ebad-43d7-b880-c5a6d6a3e79d?inc=recordings+artist-credits
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><metadata xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"><release
        id=\"b0f5a6ab-ebad-43d7-b880-c5a6d6a3e79d\"><title>The College Dropout</title><status
        id=\"4e304316-386d-3409-af2e-78857eec5cfe\">Official</status><quality>normal</quality><t[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?limit=10&query=artist%3A%28bityoq+casdwe%29+release%3A%28teoid%29
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><metadata created="2019-07-15T19:47:22.598Z"
        xmlns="http://musicbrainz.org/ns/mmd-2.0#" xmlns:ns2="http://musicbrainz.org/ns/ext#-2.0"><release-list
        count="0" offset="0"/></metadata>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
      ETag:
      - '"ZTM5ZmNjMDAwMDAwMDAwMFNvbHI="'
      Last-Modified:
      - Mon, 15 Jul 2019 19:45:00 GMT
      X-RateLimit-Limit:
      - '1200'
      X-RateLimit-Remaining:
      - '1041'
      X-RateLimit-Reset:
      - '1563220043'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?limit=10&query=artist%3A%28tool%29+release%3A%28lateralus%29
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><metadata created="2019-07-15T19:47:23.521Z"
        xmlns="http://musicbrainz.org/ns/mmd-2.0#" xmlns:ns2="http://musicbrainz.org/ns/ext#-2.0"><release-list
        count="160" offset="0"><release id="ccc3125e-2444-4fd7-9218-141a3b19e9bb"
        ns2:score="100"><title>Lateralus</title><status>Official</status><disambiguation>limited
        edition picture disc</disambiguation><packaging>Gatefold Cover</packaging><text-representation><language>eng</language><script>Latn</script></text-representation><artist-credit><name-credit><artist
        id="66fc5bf8-daa4-4241-b378-9bc9077939d2"><name>Tool</name><sort-name>Tool</sort-name><disambiguation>US
        progressive metal band</disambiguation></artist></name-credit></artist-credit><release-group
        id="02f79295-21e1-34cc-82f2-63219eec4f0a" type="Album" type-id="f529b476-6e62-324f-b0aa-1f3e33d313fc"><title>Lateralus</title><primary-type
        id="f529b476-6e62-324f-b0aa-1f3e33d313fc">Album</primary-type></release-group><date>2005-08-26</date><country>US</country><release-event-list><release-event><date>2005-08-26</date><area
        id="489ce91b-6658-3307-9877-795b68554c98"><name>United States</name><sort-name>United
        States</sort-name><iso-3166-1-code-list><iso-3166-1-code>US</iso-3166-1-code></iso-3166-1-code-list></area></release-event></release-event-list><barcode>614223116013</barcode><label-info-list><label-info><catalog-number>61422-3116-1
        LP</catalog-number><label id="6fb504ab-e977-4bb2-be98-627cbfa19f44"><name>Tool
        Dissectional</name></label></label-info><label-info><catalog-number>61422-3116-1
        LP</catalog-number><label id="7f227463-55bf-4510-97da-82672574a0b1"><name>Volcano
        Records</name></label></label-info></label-info-list><medium-list count="2"><track-count>13</track-count><medium><format>12"
        Vinyl</format><disc-list count="0"/><track-list count="8"/></medium><medium><format>12"
        Vinyl</format><disc-list count="0"/><track-list count="5"/></medium></medium-list><tag-list/></release><release
        id="fdd122a2-820f-4186-841d-a9b7903c8453" ns2:score="100"><title>Lateralus</title><status>Official</status><packaging>Jewel
        Case</packaging><text-representation><language>eng</language><script>Latn</script></text-representation><artist-credit><name-credit><artist
        id="66fc5bf8-daa4-4241-b378-9[...]
[...]
